{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": true
      }
    }
  ],
  "trailingComma": "none",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
